# Your Name Here

## Research question/interests

**I am interested in what the users of each platform prefers, namely the correlation between year, genre (listed_in) and ratings on different platforms.**

I plan to clean the data by removing any duplicate and null entries and ensuring that all columns are in a consistent format, then followed by removing all the unnecessary data such as director, cast, country and only leaves the critical things such as listed_in, date_added. Then use some process to merge and combine the datasets then seperate them in terms of platforms. Then, using some weightings and other functions, calculating the correlation between genres and the ratings for different platforms. Finally after the analysis, using some plotting tools to make a visual representation of genre, platform, and user preferences.

In [4]:
import pandas as pd

In [6]:
df1 = pd.read_csv('../data/raw/netflix_titles.csv')
df2 = pd.read_csv('../data/raw/disney_plus_titles.csv')
df3 = pd.read_csv('../data/raw/hulu_titles.csv')
df4 = pd.read_csv('../data/raw/amazon_prime_titles.csv')
df5 = pd.read_csv('../data/raw/Netflix_TV_Shows_and_Movies.csv')
df6 = pd.read_csv('../data/raw/tv_shows.csv')

In [8]:
df6

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1