In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

NF = pd.read_csv("../data/raw/netflix_titles.csv")
DP = pd.read_csv("../data/raw/disney_plus_titles.csv")
AP = pd.read_csv("../data/raw/amazon_prime_titles.csv")
HU = pd.read_csv("../data/raw/hulu_titles.csv")

In [ ]:
def load_and_process(url_or_path_to_csv_file):
    yearRating_NF=(
    pd.read_csv(url_or_path_to_csv_file)
    .loc[lambda x: x['rating']!='66 min']
    .loc[lambda x: x['rating']!='74 min']
    .loc[lambda x: x['rating']!='84 min']
    .loc[lambda x: x['rating']!='UR']
    .loc[lambda x: x['rating']!='NR']
    .loc[lambda x: x['rating']!='NC-17']
    .loc[lambda x: x['rating']!='TV-Y7-FV'] 
    .drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
    .dropna()) 
    return yearRating_NF

In [ ]:
NF2=load_and_process("../data/raw/netflix_titles.csv")
yearRating_NF=load_and_process("../data/raw/netflix_titles.csv").groupby(['rating']).count()

In [ ]:
yearRating_NF.to_csv("../data/processed/proccessed_alex/netflix_yearRating.csv")

In [ ]:
yearRating_DP= DP.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
yearRating_DP.dropna()

for i in range(yearRating_DP['rating'].count()):
 if yearRating_DP.rating[i] == 'TV-Y7-FV':
       yearRating_DP.rating[i] = 'TV-Y7'

DP2=yearRating_DP
yearRating_DP=yearRating_DP.groupby(['rating']).count()

In [ ]:
yearRating_DP.to_csv("../data/processed/proccessed_alex/disney_yearRating.csv")

In [ ]:
yearRating_AP= AP.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
yearRating_AP.dropna()


for i in range(yearRating_AP['rating'].count()):
    if yearRating_AP.rating[i] == 'ALL_AGES':
       yearRating_AP.rating[i] = 'ALL'
    elif yearRating_AP.rating[i] == '16':
       yearRating_AP.rating[i] = '16+'
    elif yearRating_AP.rating[i] == 'AGES_16_':
       yearRating_AP.rating[i] = '16+'
    elif yearRating_AP.rating[i] == 'AGES_18_':
       yearRating_AP.rating[i] = '18+' 
    elif yearRating_AP.rating[i] == 'NC-17':
       yearRating_AP.rating[i] = 'R'
    
for i in range(yearRating_AP['rating'].count()):   
    if yearRating_AP.rating[i] == '7+':
       yearRating_AP.rating[i] = 'TV-Y7'
    elif yearRating_AP.rating[i] == '18+':
       yearRating_AP.rating[i] = 'R'
    elif yearRating_AP.rating[i] == '13+':
       yearRating_AP.rating[i] = 'PG-13'
    elif yearRating_AP.rating[i] == '16+':
       yearRating_AP.rating[i] = 'R'
    elif yearRating_AP.rating[i] == 'ALL':
       yearRating_AP.rating[i] = 'G'

yearRating_AP=yearRating_AP[yearRating_AP.rating !='NOT_RATE']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='UNRATED']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='TV-NR']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='NR']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='18+']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='16+']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='13+']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='7+']
yearRating_AP=yearRating_AP[yearRating_AP.rating !='ALL']
AP2=yearRating_AP
yearRating_AP=yearRating_AP.groupby(yearRating_AP['rating']).count()
yearRating_AP

        release_year
rating
G               1334
PG               253
PG-13           2443
R               3699
TV-14            208
TV-G              81
TV-MA             77
TV-PG            169
TV-Y              74
TV-Y7            413

In [ ]:
yearRating_AP.to_csv("../data/processed/proccessed_alex/prime_yearRating.csv")

In [ ]:
yearRating_HU= HU.drop(['show_id','type','title','director','cast','country','date_added','listed_in','description'],axis=1)
yearRating_HU.dropna(how='any', inplace=True)

yearRating_HU=yearRating_HU[yearRating_HU.rating !='NR']
yearRating_HU=yearRating_HU[yearRating_HU.rating !='NOT RATED']

yearRating_HU= yearRating_HU.drop(['duration'],axis=1)
HU2=yearRating_HU
yearRating_HU=yearRating_HU.groupby(['rating']).count()

In [ ]:
yearRating_HU.to_csv("../data/processed/proccessed_alex/Hulu_yearRating.csv")

In [ ]:
merge=(
    pd.concat([NF2,DP2,AP2,HU2])
    .rename(columns={"rating": "Rating"})
    .rename(columns={"release_year": "Release Year"})
    .reset_index(drop=True)
    .groupby(['Rating']).count()
)

In [ ]:
merge.to_csv("../data/processed/proccessed_alex/combined_yearRating.csv")

In [ ]:
year=(
    pd.concat([NF2,DP2,AP2,HU2])
    .groupby(['release_year']).count()
)

In [ ]:
year.to_csv("../data/processed/proccessed_alex/dist_by_year.csv")

In [ ]:
# % of movies from before or after century

NF_perc=NF.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
beforeNF=0
afterNF=0
for i in range(NF_perc['rating'].count()):
    if NF_perc.release_year[i]<2000:
        beforeNF=beforeNF+1
    else: 
        afterNF = afterNF+1

NF_perc=NF_perc.groupby(['release_year']).count()
pctbNF=(beforeNF*100)/(beforeNF+afterNF)
pctaNF=(afterNF*100)/(beforeNF+afterNF)
DP_perc=DP.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
beforeDP=0
afterDP=0
for i in range(DP_perc['rating'].count()):
    if DP_perc.release_year[i]<2000:
        beforeDP=beforeDP+1
    else: 
        afterDP = afterDP+1

DP_perc=DP_perc.groupby(['release_year']).count()
pctbDP=(beforeDP*100)/(beforeDP+afterDP)
pctaDP=(afterDP*100)/(beforeDP+afterDP)

AP_perc=AP.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
beforeAP=0
afterAP=0
for i in range(AP_perc['rating'].count()):
    if AP_perc.release_year[i]<2000:
        beforeAP=beforeAP+1
    else: 
        afterAP = afterAP+1

AP_perc=AP_perc.groupby(['release_year']).count()
pctbAP=(beforeAP*100)/(beforeAP+afterAP)
pctaAP=(afterAP*100)/(beforeAP+afterAP)

HU_perc=HU.drop(['show_id','type','title','director','cast','country','date_added','duration','listed_in','description'],axis=1)
beforeHU=0
afterHU=0
for i in range(HU_perc['rating'].count()):
    if HU_perc.release_year[i]<2000:
        beforeHU=beforeHU+1
    else: 
        afterHU = afterHU+1

HU_perc=HU_perc.groupby(['release_year']).count()
pctbHU=(beforeHU*100)/(beforeHU+afterHU)
pctaHU=(afterHU*100)/(beforeHU+afterHU)


pct=[[pctbNF,pctbDP,pctbAP,pctbHU],[pctaNF,pctaDP,pctaAP,pctaHU]]

pct1 = pd.DataFrame(pct, columns=['Netflix','Disney Plus','Amazon Prime', 'Hulu'],index=['Before 2000','After 2000'])
pct2=pct1.transpose()
pct2

              Before 2000  After 2000
Netflix          5.963876   94.036124
Disney Plus     26.261230   73.738770
Amazon Prime    17.511521   82.488479
Hulu             7.598903   92.401097

In [ ]:
pct2.to_csv("../data/processed/proccessed_alex/before_after.csv")

In [ ]:
df1 = [NF2,DP2,AP2,HU2]

facet=pd.concat(df1)

In [ ]:
facet.to_csv("../data/processed/proccessed_alex/num_of_rating_by_year.csv")